body {
    font-family: "Poppins", sans-serif;
}

/* CABEÇALHO */

header {
text-align: center;
padding: 15px;
font-weight: 600;
background: #ffffff;
box-shadow: 0px 4px 40px -20px rgba(0, 0, 0, 0.25);
}

/* MAIN - PARTE PRINCIPAL */

main {
margin: 0 70px;
}

/* FILTROS */

.filtersContainer {
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 0;
}

#botoesContainer {
display: flex;
}

.estiloGeralBotoes {
border: 1.5px solid rgba(18, 184, 134, 0.05);
background: rgba(18, 184, 134, 0.05);
border-radius: 8px;
padding: 10px 20px;
cursor: pointer;
font-weight: 500;
color: #12b886;
font-size: 0.9rem;
margin-right: 10px;
}

.estiloGeralBotoes--filter:hover {
background-color: #12b886;
color: #ffffff;
transition: ease-in-out 0.2s;
}

.botoesClickStyle {
background-color: #12b886;
color: #ffffff;
}

.containerBuscaPorNome {
display: flex;
justify-content: space-between;
}

.campoBuscaPorNome {
border: none;
padding: 0 10px;
background: #f1f3f5;
border-radius: 8px;
margin-right: 5px;
width: 250px;
color: #515252;
font-weight: 400;
}

.estiloGeralBotoes--botaoBuscaPorNome {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 15px;
gap: 10px;
background: #12b886;
border: 1.5px solid #12b886;
border-radius: 8px;
}

/* VALOR TOTAL */

.priceContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 10px 20px;
}

.priceContainer div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.priceContainer div img {
    width: 2rem;
}

.priceContainer span {
    background-color: #212529;
    border-radius: 4px;
    color: #fff;
    padding: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

/*CONTAINER VITRINE*/

.containerVitrine {
display: flex;
width: 100%;
justify-content: space-between;
border-radius: 50px 0;
}

/* CONTAINER DE PRODUTOS */

.containerListaProdutos {
width: 100%;
}

.containerListaProdutos ul {
list-style: none;
display: flex;
flex-wrap: wrap;
gap: 20px;
margin-top: 40px;
width: 95%;
}

.containerListaProdutos ul li {
border-radius: 8px;
transition: ease-in-out 0.1s;
width: calc(95% / 3);
margin-bottom: 30px;
}

.containerListaProdutos ul li:hover {
box-shadow: 3px 3px 13px 1px rgb(146 146 146);
}

.containerListaProdutos ul li img {
width: 100%;
height: 170px;
border-radius: 10px;
}

.containerListaProdutos ul li h3 {
font-size: 1rem;
font-weight: 500;
margin: 10px 0 15px;
color: #212529;
}

.containerListaProdutos ul li p {
font-size: 0.7rem;
color: #868e96;
font-weight: 400;
margin: 10px 0;
}
.containerListaProdutos ul li span {
font-size: 0.8rem;
font-weight: 500;
margin-top: 10px;
display: inline-block;
color: #212529;
}
.containerListaProdutos ul li ol {
list-style: decimal;
color: #868e96;
font-size: 12px;
margin-left: 15px;
margin-top: 5px;
}
.containerListaProdutos ul li ol li {
margin: 0;
width: 100%;
}
.containerListaProdutos ul li button {
background-color: #12b8860d;
border-radius: 8px;
border: #12b8860d 1px solid;
color: #12b886;
padding: 5px;
transition: 0.5s;
cursor: pointer;
}
.containerListaProdutos ul li button:hover {
background-color: #12b886;
border: #12b886 1px solid;
color: white;
}
.containerListaProdutos ul li div {
display: flex;
justify-content: space-between;
padding: 5px;
}

.containerCarrinho {
    width: 350px;
    height: 400px;
    margin-top: 40px;
    border-radius: 10px;
    border: #12b886 solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dentroDoCarrinho {
    overflow-y: auto;
    height: 350px;
}
.containerCarrinho h2 {
    font-size: 25px;
    background-color: #12b886;
    color: #fff;
    padding: 5px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.produtoNoCarrinho img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}
.produtoNoCarrinho div button {
    color: #fff;
    border: none;
    background-color: #fff;
    cursor: pointer;
    margin-right: 11px;
    font-weight: 700;
    border: solid 1px transparent;
    border-radius: 50%;
    transition: ease-in 250ms;
}
.produtoNoCarrinho div button img {
    width: 15px;
    height: 15px;
}
.produtoNoCarrinho div{
    display: flex;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
}
.produtoNoCarrinho {
    display: flex;
    margin: 5px;
    border-radius: 35px;
    transition: 300ms;
}
.produtoNoCarrinho:hover {
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
}
.produtoNoCarrinho:hover div button {
    color: black;
}
.produtoNoCarrinho div button:hover {
    background-color: red;
    color: #fff;
}
.produtoNoCarrinho :nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.dentroDaDiv {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.precoQuantidade {
    justify-content: space-between;
    padding-right: 16px;
}

.finalCarrinho {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #212529;
    color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.carrinhoVazio {
    margin-top: 55%;
    margin-left: 42px;
    font-size: 25px;
    text-decoration: underline;
}
.semResultado {
    margin:50px auto;
    font-size: 25px;
    line-height: 50px;
}

@media (max-width: 760px){
    .containerListaProdutos ul li {
        min-width: 300px;
    }
    .containerListaProdutos ul {
        flex-wrap: nowrap;
        overflow-x: auto;
        
    }
    .containerVitrine{
        flex-direction: column;
    }
    .containerCarrinho{
        width: 100%;
        height: 200px;
    }
    .carrinhoVazio {
        margin-top: 60px;
        margin-left: 160px;
    }
    .dentroDoCarrinho{
        overflow-y: auto;
        height: 150px;
    }
    #botoesContainer {
        width: 200px;
        flex-wrap: wrap;
    }
    .campoBuscaPorNome {
        width: 100%;
    }
}
@media (min-width: 724px) and (max-width: 1248px){
    .containerListaProdutos ul li {
        min-width: calc(95% / 2);
    }
    .containerListaProdutos ul{
        width: 500px;
    }
    #botoesContainer {
        width: 200px;
        flex-wrap: wrap;
    }
    .carrinhoVazio {
        margin-top: 130px;
        margin-left: 30px;
        margin-right: 30px;
    }
}

body ul::-webkit-scrollbar {
  width: 8px;
  height: 8px;               
}

body ul::-webkit-scrollbar-track {
  background: #e5e5e5;        
}
body ul::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
  border: 1px solid rgb(159, 159, 159);  
}